.header {
  height: 112px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 800px;
}

.headerMargin {
  margin: 0 5%;
}

.header > * {
  margin: 0;
  font-family: "Gentium Basic", serif;
}

.horizontalRule {
  height: 1px;
  border-bottom: 2px solid #dedede;
  min-width: 100%;
  margin-bottom: 15px;
}
